<a href="https://colab.research.google.com/github/Y-manisha/Task---4/blob/main/Data_Analysis_on_Titanic_Dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [16]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, count, col, when

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Titanic Analysis") \
    .getOrCreate()

In [17]:
# Load Titanic dataset
titanic_df = spark.read.csv("Titanic-Dataset.csv", header=True, inferSchema=True)
titanic_df.head(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

In [19]:
# Insight 1: Count of survivors by gender
survivor_gender_count = titanic_df.groupBy("Sex").agg(count(when(col("Survived") == 1, True)).alias("Survived_Count"))
survivor_gender_count.show()

+------+--------------+
|   Sex|Survived_Count|
+------+--------------+
|female|           233|
|  male|           109|
+------+--------------+

In [21]:
# Insight 2: Average age of survivors vs non-survivors
average_age = titanic_df.groupBy("Survived").agg(avg("Age").alias("Average_Age"))
average_age.show()

+--------+------------------+
|Survived|       Average_Age|
+--------+------------------+
|       1|28.343689655172415|
|       0| 30.62617924528302|
+--------+------------------+

In [23]:
# Insight 3: Count of survivors by passenger class
survivor_class_count = titanic_df.groupBy("Pclass").agg(count(when(col("Survived") == 1, True)).alias("Survived_Count"))
survivor_class_count.show()

+------+--------------+
|Pclass|Survived_Count|
+------+--------------+
|     1|           136|
|     3|           119|
|     2|            87|
+------+--------------+

In [25]:
# Insight 4: Survival rate based on fare paid
fare_survival_rate = titanic_df.groupBy("Fare").agg(avg("Survived").alias("Survival_Rate"))
fare_survival_rate.show()

+-------+-------------------+
|   Fare|      Survival_Rate|
+-------+-------------------+
| 8.5167|                1.0|
|   15.5|              0.375|
| 133.65|                1.0|
| 29.125|                0.0|
|10.4625|                0.0|
| 7.0458|                0.0|
|  9.475|                0.0|
|11.1333|                1.0|
|    0.0|0.06666666666666667|
| 7.7333|                0.5|
|   73.5|                0.0|
|77.2875|                0.0|
|   15.9|                1.0|
|   11.5|                0.0|
| 8.6833|                1.0|
|41.5792| 0.6666666666666666|
|    9.5| 0.2222222222222222|
| 8.4042|                0.0|
|14.4542|0.14285714285714285|
|14.4583|                0.0|
+-------+-------------------+
only showing top 20 rows

In [26]:
# Stop the Spark session
spark.stop()